<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="camera_m" params="ns">   <!--xacro have problem when name is camera, but i dont know why-->

        <link name="$(arg ns)/camera_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="0.01 0.01 0.01" />
                </geometry>
            </visual>
            <inertial>
                <mass value="1e-5" />
                <origin xyz="0 0 0" rpy="0 0 0" />
                <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
            </inertial>
        </link>

        <gazebo reference="$(arg ns)/camera_link">
            <material>Gazebo/Black</material>
        </gazebo>

        <gazebo reference="$(arg ns)/camera_link">
            <sensor name='$(arg ns)/camera_sensor' type='camera'>
                <always_on>1</always_on>
                <visualize>0</visualize>
                <update_rate>30</update_rate>
                <camera name='$(arg ns)/camera'>
                <horizontal_fov>1.0856</horizontal_fov>
                <image>
                    <width>1280</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.03</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0</mean>
                    <stddev>0.007</stddev>
                </noise>
                </camera>
                <plugin name='camera_driver' filename='libgazebo_ros_camera.so'/>
            </sensor>
        </gazebo>

    </xacro:macro>

</robot>